
/*Contacto
body{
    width: 90%;
}

.cuerpo{
    display: flex;
    align-items: flex-end;
    width: 600px;
}

.formularioContacto{
    width: 500px;
    display: inline-block;
}

h5{
    text-align: center;
}

.mapa{
    width: 100%;
    display: inline-block;
}
fin contacto*/